.Login {
    font-family: 'Acme', sans-serif;
    margin: 25vh;
    position: center;
    /* margin-top: 25vh; */
}
.email{
    font-size: x-large;
}
.password{
    font-size: x-large;
}
#signIn{
    margin: 10px;
    float: left;
}
#signUp{
    margin: 10px;
    float: right;
}
#title{
    text-align: center;
}